.footer-container {
    @include flex;
    height: 8vh;
    width: 100%;
    color: var(--primary);
    position: fixed;
    bottom: 0;
    background-color: var(--secondary);

    .creator {
        text-decoration: none;
        //color: var(--secondary);
    }
}